$font: 'Poppins', sans-serif;
$main-font-color: #010101;
$main-font-size: 16px;
$main-line-height: 20px;
$main-bacground-color: #FAFBFC;
$main-font-weight: 500;
$navbar-height: 88px;
$navbar-height-mobile: 72px;
$main-content-margin-top: 48px;

$secondary-font-weight: 500;
$secondary-font-size: 12px;

$blue-color: #0087FF;
$red-color:#FB766E;
$linear-gradient: linear-gradient(45deg, #74EDF2 0%, #5156E6 100%);
$color-dark-grey: #808080;
$color-light-grey: #C9CAD1;

$icon-border: 0.5px solid $color-light-grey;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-20: 20px;
$border-radius-32: 32px;
$border-radius-48: 48px;

$user-icon-small: 40px;
$user-icon-medium: 56px;
$user-icon-large: 80px;
$user-icon-large: 80px;
$user-icon-ultra-large: 105px;
