@use './variables' as variables;
@use './common' as common;

.post {
    margin-bottom: 48px;
    .post-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        div {
            display: flex;
            .post-header-data {
                margin-left: 16px;
                flex-direction: column;
                width: fit-content;
                p {
                    margin: 0;
                }
                p:last-child {
                    font-size: variables.$secondary-font-size;
                    opacity: 0.25;
                }
            }
        }
        .post-header-menu {
            @include common.noselect;
            @include common.hover-effect;

        }
    }
    .post-image {
        width: 100%;
        height: 100%;
        border-radius:  variables.$border-radius-48;
        @include common.hover-effect;
    }
    .post-description {
        -webkit-line-clamp: 3; 
        display: -webkit-box; 
        -webkit-box-orient: vertical;
         overflow: hidden;
        color: variables.$color-dark-grey;
        font-weight: variables.$secondary-font-weight;
    }
    .post-actions {
        display: flex;
        justify-content: space-between;
        p {
            font-weight: 600;
        }
        div:first-child {
            display: flex;
            .post-action:last-child {
                margin-left: 40px;

            }
        }
        .post-action {
            display: flex;
            img:first-child,
            p:first-child {
                margin-right: 8px;
            }
            @include common.hover-effect;
        }
    }
}

@media (max-width: 600px){
    .post {
        width: 94vw;
        padding: 0 10px;
    }
}
